#map-canvas {
  width: 100%;
  height: 460px;
  margin-bottom: 15px;
}

.location-image {
  max-height: 120px;
  max-width: 160px;
}

.btn-rotate i.glyphicon {
  @include rotate(90deg);
}

.btn-group-vertical > .btn-group > .btn {
  display: table-cell;
  width: 1%;
}

.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:first-child:not(:last-child) { 
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child:not(:first-child) { 
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
}

.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child:not(:last-child) { 
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:last-child:not(:first-child) { 
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}