#content {
  position: absolute;
  top: 45px;
  bottom: 0; left: 0; right: 0;
  padding: 0;
}

#map-canvas {
  width: 100%;
  height: 100%;
}

.ui-header h1.ui-title {
  margin: 0;
}

#popup-images {
  p {
    text-align: left;
    overflow-y: auto;
  }
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media screen and (orientation:portrait) {
  #popup-images {
    text-align: center;
    img {
      max-height: 60%;
    }
    p {
      max-height: 36%;
    }
  }
}

@media screen and (orientation:landscape) {
  #popup-images {
    img {
      float: left;
      max-width: 50%;
      padding: 6px;
    }
    p {
      height: 95%;
    }
  }
}

.ui-icon-gpsloc {
  margin-right: 34px!important;
}
.ui-icon-gpsloc:after {
    background-image: url("/assets/gpsloc.png");
    background-size: 17px 17px;
}

#popup-locations .ui-btn {
  text-align: left;
  margin: 0;
}
